<article class="pt-20">
    <h2 class="font-bold text-3xl p-5 text-center mb-5 mt-5">
        About Me
    </h2>
    <p class="p-5 mb-5 about-me">
        My name is Tyler Ruff, I am a software developer who just loves to code. Ever since age twelve, I have been writing PHP. 
        Now, I mostly dabble in Node, Python, Java, C#, and Go. But, I have never given up on my love for PHP, HTML5, and CSS3.
    </p>
    <hr />
    <h2 class="font-bold text-2xl p-5 mt-3 text-center">
        Get In Touch
    </h2>
    <div class="p-5 about-me text-center">
        <ul>
            <li class="py-2">
                <a href="mailto:tyler.ruff@outlook.com" class="hover:underline">
                    tyler.ruff@outlook.com
                </a>
            </li>
            <li class="py-2">
                <a href="tel:+16092873897" class="hover:underline">
                    +1(609) 287-3897
                </a>
            </li>
            <li class="py-2">
                <a href="https://www.linkedin.com/in/blz-one" target="_blank" class="hover:underline">
                    Linkedin
                </a>
            </li>
            <li class="py-2">
                <a href="https://twitter.com/TylerRuffDev" target="_blank" class="hover:underline">
                    Twitter
                </a>
            </li>
        </ul>
    </div>
</article>