<article class="pt-20">
    <h2 class="font-bold text-3xl p-5 mt-5 text-center">
        Blog
    </h2>
    <div *ngFor="let post of blogPosts$ | async">
        <div class="max-w-xl mb-10 mx-auto overflow-hidden bg-white hover:bg-gray-100 border">
            <a class="group" href="/view?id={{ post._id }}">
            <div class="p-6">
                <div>
                    <span class="group block mt-2 text-2xl font-semibold text-gray-800 transition-colors duration-200 transform group-hover:text-gray-600 group-hover:underline">
                        {{ post.title }}
                    </span>
                </div>

                <div class="mt-4">
                    <div class="flex items-center">
                        <div class="flex items-center">
                            <img class="object-cover h-10 rounded-full" [src]="post.author.image | sanityImage:200" alt="Avatar">
                            <span class="mx-2 font-semibold text-gray-700 dark:text-gray-200">
                                {{ post.author.name }}
                            </span>
                        </div>
                        <span class="mx-1 text-xs text-gray-600 dark:text-gray-300">
                            {{ post.publishedAt | formatDate }}
                        </span>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
</article>