<div class="pt-32 pb-20 md:pt-40">
    <div class="container m-auto px-6 md:px-12 lg:px-6">
        <div class="lg:flex lg:items-center lg:gap-x-16">
            <div class="space-y-8 lg:w-7/12">
                <h1 class=" font-bold text-gray-900 text-4xl md:text-5xl">
                    Tyler Ruff
                </h1>

                <p class="text-gray-600 lg:w-11/12">
                    Software developer, project manager, systems administrator. 
                </p>

                <span class="block font-semibold">
                    Thank you for browsing my portfolio!
                </span>

                <div class="grid grid-cols-3 space-x-4 md:space-x-6 md:flex">
                    <a aria-label="Tyler Ruff Linkedin" target="_blank" href="https://www.linkedin.com/in/blz-one" class="p-4 border border-gray-200 rounded-md hover:border-red-400 hover:shadow-lg">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6" src="https://blazed.sirv.com/social/li.png?w=128&h=128" alt="slack logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block">
                                Linkedin
                            </span>
                        </div>
                    </a>    
                    <a aria-label="Tyler Ruff Facebook" href="https://www.facebook.com/blazed.space/" target="_blank" class="p-4 border border-gray-200 rounded-md hover:border-blue-400 hover:shadow-lg">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6" src="https://blazed.sirv.com/social/fb.png?w=128&h=128" alt="chat logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block">
                                Facebook
                            </span>
                        </div>
                    </a>   
                    <a aria-label="add to zoom" href="https://github.com/tyler-ruff" target="_blank" class="p-4 border border-gray-200 rounded-md hover:border-gray-400 hover:shadow-lg">
                        <div class="flex justify-center space-x-4">
                            <img class="w-6" src="https://blazed.sirv.com/social/gh.png?w=128&h=128" alt="chat logo" loading="lazy" width="128" height="128">
                            <span class="hidden font-medium md:block">
                                Github
                            </span>
                        </div>
                    </a>    
                </div>

                <div>
                    🔥
                    <span>Discover: </span> 
                    <a href="/projects" class="font-semibold text-gray-700 hover:underline">My Projects</a>
                    <span>, </span>
                    <a href="/blog" class="font-semibold text-gray-700 hover:underline">
                        Blog
                    </a>
                </div>
            </div>

            <div hidden class="lg:block lg:w-4/12">
                <img src="https://blazed.sirv.com/ibis/blazed-cc.jpg?w=320&h=280" class="w-full" width="320" height="280">
            </div>
        </div>
    </div>
</div>
